.mw-cclanding {
  #wrapper > #content {
    width: 100%;
    padding: 10px;
  }
  [data-url='/creditcards/other-cards/student-card/'] {
    #wrapper > #content {
      width: 51%;
    }
    .tabcontent_withRHSpanel {
      width: 100%;
    }
    .footertext {
      width: 200%;
    }
  }
  li.list_tick {
    margin-left: 0px;
  }
  .wrapper > h2 {
    text-transform: capitalize;
    font-weight: bold;
    font-size: 20px;
  }
  .campaignheader > * {
    font-size: 25px;
    color: #16265B;
    font-weight: bold;
    background: none;
  }
  th:nth-child(5) {
    width: 15% !important;
  }
  th {
    vertical-align: middle;
    padding-bottom: 0;
    font-size: 16px !important;
  }
  tr > td:nth-child(5) {
    text-align: center;
  }
  td {
    vertical-align: middle;
    img {
      margin-bottom: 0px !important;
    }
  }
  table {
    margin-bottom: 20px;
  }
  .keypoint {
    padding-top: 10px;
    margin-top: 10px;
  }
  strong {
    font-weight: bold;
  }
  .bodycontent > p, .content > p {
    margin: 15px 0;
  }
  ol {
    margin: 10px 0 10px 20px;
  }
  img[alt='Help icon'] + p +p {
    margin: 10px 0;
  }
  .productinfopanel {
    padding-top: 10px;
    h2 {
      text-transform: capitalize;
      font-weight: bold;
      font-size: 1.1em;
    }
    p {
      margin: 10px 0 ;
    }
  }
  .sub-heading + p {
    margin: 10px 0;
  }
  .footertext > p:first-child {
    margin-top: 10px;
  }
}
