.mw-ccsignup {
  //Page width formatting
  .outer, #header {
    //width fixes for these pages 
    min-width: 100%;
    max-width: 100%;
    padding: 0px;
    .secureMsg {
      width: auto;
      margin: 10px;
    }
    #logo {
      top: 30px;
    }
  }
  #page {
    max-width: 100%;
    min-width: 100%;
    background: white;
  }
  #footerInner {
    //Footer width fixes for these pages 
    max-width: 100%;
    min-width: 100%;
    ul {
      margin: 0px;
    }
  }
  //End Page width formatting
 
  h1 {
    line-height: 1;
  }
  h2.bigHead {
    line-height: 1;
    margin-bottom: 0px;
  }
  h3.subHead {
    margin: 0px;
    + p {
      margin-top: 5px;
    }
  }
  .progressBar {
    li {
      padding: 0 10px !important;
    }
  }
  
  //ANCHOR STYLING
  a:not(.newwin) {
    background: transparent !important;
  }
  .newwin {
    background-position-y: 7px !important;
  }
  //END
  .item {
    text-align: center;
    p {
      text-align: left;
    }
  }
  //INPUT FORMATTING
  #frmGetItNow {
    width: 150%;
  }
  fieldset {
    width: 100%;
  }
  input, select {
    margin: 0px !important;
    height: 30px;
    max-width: 100% !important;
  }
  input[type='checkbox'] {
    top: 13px;
    &[name='frmAgreementDet:cbxSignature'] {
      top: 25px;
    }
  }
  .content {
    input[name='frmSalaryDet:numSortCode'] {
      width: 30px;
      ~ input {
        width: 30px;
      }
    }
  }
  .intDialCode {
    width: 3em !important;
  }
  a[title='Cancel'] {
    padding: 0px 10px !important;
    margin-top: -1px;
  }
  input[alt='Cancel'] {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    margin-left: 10px !important;
  }
  //END INPUT
  
  
  //ERROR FORMATTING
  .selectAddress select {
    height: auto;
  }
  .content .internationalPhoneNumber label {
    margin-left: 2px;
    margin-right: 2px;
  }
  //END ERROR


  #frmLogin {
    display: none;
  }
  strong {
    font-weight: bold;
  }
  .panel .inner p:nth-child(3) strong {
    display: inline-block;
  }
  .subPanel {
    p:nth-child(9) {
      strong {
        display: inline;
      }
    }
    strong:first-child {
      display: block;
      margin: 10px 0;
    }
  }
  .help .contentInner {
    height: auto !important;
  }
  .navBar {
    width: 610px;
  }
  .secondary {
    margin-top: 55px;
  }
  p {
    margin: 10px 0;
  }

  //TRITIUM CLASS STYLING
  .mw-full {
    width: 600px;
    ~ * {
      width: 600px;
    }
  }
  //END TRITIUM CLASS STYLING
}
