// Every page should have a class on the body
// Scope that in each file at the start
.mw-home {
  font-size: 13px;
  line-height: 1.5;
  em:before {
    content: ' ';
  }
  #content {
    width: 100%;
    padding: 10px;
  }
  .mw-servicepod {
    margin-top: 5px;
    h2>em { 
      color: #F8680A;
    }
  }
  .salespod {
    padding-bottom: 43px;
  }
  .buttons {
    position: absolute;
    bottom: 5px;
  }
  .gbutton { 
    display: inline-block;
    @include background-image(linear-gradient(bottom, #e7e9f1 0%, #fff 100%));
    border: 1px solid #c3c3eb;
    @include border-radius(3px);
    font-weight: bold;
    * {
      background: none !important;
    }
  }
  .button-middle {
    a {
      margin-top: 3px !important;
      font-size: 13px; 
    }
  }
  .list_tick {
    padding-top: 4px;
  }
  .icon {
    img {
      zoom: .7;
    }
  }
  #primarycontent {
    min-height: 225px;
    margin: 0;
    .heropodcontainer {
      width: 62%;
      margin-left: 12px;
      margin-right: 8px;
      text-align: center;
      min-height: inherit;
      *:not(img) {
        min-height: inherit;
        display: block;
      }
      img {
        margin:auto; /* Required */
        position:absolute; /* Required */
        top:0;bottom:0;left:0;right:0; /* Aligns Vertically */
      }
    }
    .SSIpodcontainer {
      position: relative;
      min-height: inherit;
      width: 31%;
      font-size: 13px;
      border: 1px solid rgba(211,211,222,.5);
      @include border-radius(4px);
      background-color: #fff;
      margin: 0 0 0 10px;
      padding: 7px 10px 0 10px;
    }
  }
  h2 {
    font-weight: bold;
    font-size: 15px;
    float: none !important;
    width: 100% !important;
  }
  #secondarycontent {
    .mw-row {
      overflow: hidden;
      margin-bottom: 10px;
      min-height: 175px;
    }
    .SSIpodcontainer {
      &.mw-visible {
        opacity: 1;
      }
      position: relative;
      min-height: inherit;
      font-size: 13px;
      width: 31%;
      display: inline-block;
      float: left;
      border: 1px solid rgba(211,211,222,.5);
      @include border-radius(4px);
      background-color: #fff;
      margin: 0 0 0 10px;
      padding: 5px 10px 0 10px;
    }
    ul, ol {
      margin: 10px 0;
      a {
        display: inline-block;
        font-weight: bold;
        padding-top: 3px;
      }
    }
  }
}
