.mw-search {
  .detail {
    float: none !important;
    max-width: 100%;
  }
  .snippet {
    margin-left: 20px;
  }
  .info {
    float: right !important;
  }
  .input-image {
    margin-bottom: 5px;
  }
  h3.helpcentre {
    display: none;
  }

  .site-search{
    form {
      text-align: center;
    }
  }
  .collections {
    text-align: left;
  }
}
