
// Base
// -----------------------------

// Global styles applied on every page to help "mobilize"

html {
  height: 100%;
  overflow: auto !important;
}

[class^='sprites-'] {
  display: inline-block;
}

body {
  -webkit-text-size-adjust: none;   // stop zoom on rotation
  background: $body-background-color;
  color: $text-color;
  font-family: $font-family;
  position: relative;
  min-height: 100%;
  overflow:visible !important;
}

#wrapper > #content, #box {
  width: 100%;
}

#support-contain {
  max-width: 100% !important;
  * {
    max-width: 100% !important;
  }
}
.colPart {
  width: 100% !important;
}


//TODO: REMOVE DEMO CODE
#support-contain {
  input[type='text'] {
    display: inline-block;
  }
}

#captureForm {
  td {
    padding: 10px 10px 10px 0 !important;
  }
}

.calc-wrapper {
  .slider-widget {
    width: auto !important;
  }
  .slider-wrapper {
    + div {
      width: 100%;
      .apply-col {
        border: none;
      }
    }
    input[type='text'] {
      height: 30px;
      width: auto !important;
    }
  }
  .rep-ex-wrapper, .other-amounts-wrapper {
    width: 49% !important;
  }
}
//TODO REMOVE END

h1 {
  background: none !important;
  font-size: 20px !important;
  color: #22249a !important;
  font-weight: bold !important;
}

input[type='text'], input[type='password'], select {
  border: 1px solid #818181;
  margin-right: 5px !important;
  display: inline-block;
}
input[type='checkbox'] {
  margin-right: 5px;
}



li {
  margin: 0px !important;
}

a {
  color: $link-color;
  text-decoration: none;
  word-wrap: break-word;
}

// Don't show the highlight of a link when tapped
a, a:link {
  -webkit-tap-highlight-color: rgba(225, 244, 204, 0.5);
}

p {
  margin: 10px 0;
}

img {
  max-width: 100%;
}

// Don't show type number rotator, its just silly
input[type="number"]::-webkit-outer-spin-button {
  display: none;
}
* {
  -webkit-touch-callout: none;
  @include box-sizing(border-box);
}


