$sprites-url: url("/_moovweb_local_assets_/images/sprites.png");

$sprites-width: 160px;
$sprites-height: 323px;

$sprites-blackArrowRight-x: 0px;
$sprites-blackArrowRight-y: 0px;
$sprites-blackArrowRight-width: 36px;
$sprites-blackArrowRight-height: 36px;

$sprites-blackMinus-x: 0px;
$sprites-blackMinus-y: -37px;
$sprites-blackMinus-width: 36px;
$sprites-blackMinus-height: 36px;

$sprites-blackPlus-x: 0px;
$sprites-blackPlus-y: -74px;
$sprites-blackPlus-width: 36px;
$sprites-blackPlus-height: 36px;

$sprites-call-x: 0px;
$sprites-call-y: -56px;
$sprites-call-width: 15px;
$sprites-call-height: 16px;

$sprites-footerplus-x: 0px;
$sprites-footerplus-y: -73px;
$sprites-footerplus-width: 20px;
$sprites-footerplus-height: 20px;

$sprites-menu-x: 0px;
$sprites-menu-y: -188px;
$sprites-menu-width: 22px;
$sprites-menu-height: 20px;

$sprites-moovweb-x: 0px;
$sprites-moovweb-y: -209px;
$sprites-moovweb-width: 160px;
$sprites-moovweb-height: 22px;

$sprites-pin-x: 0px;
$sprites-pin-y: -116.5px;
$sprites-pin-width: 9px;
$sprites-pin-height: 17px;

$sprites-search-x: 0px;
$sprites-search-y: -269px;
$sprites-search-width: 22px;
$sprites-search-height: 22px;

$sprites-search-x: 0px;
$sprites-search-y: -146.5px;
$sprites-search-width: 16px;
$sprites-search-height: 15px;

@mixin sprites-blackArrowRight() {
  background: url("/_moovweb_local_assets_/images/sprites.png") no-repeat 0px 0px;
  width: 36px;
  height: 36px;
}

@mixin sprites-blackMinus() {
  background: url("/_moovweb_local_assets_/images/sprites.png") no-repeat 0px -37px;
  width: 36px;
  height: 36px;
}

@mixin sprites-blackPlus() {
  background: url("/_moovweb_local_assets_/images/sprites.png") no-repeat 0px -74px;
  width: 36px;
  height: 36px;
}

@mixin sprites-call() {
  background: url("/_moovweb_local_assets_/images/sprites.png") no-repeat 0px -56px;
  @include background-size(80px 161.5px);
  width: 15px;
  height: 16px;
}

@mixin sprites-footerplus() {
  background: url("/_moovweb_local_assets_/images/sprites.png") no-repeat 0px -73px;
  @include background-size(80px 161.5px);
  width: 20px;
  height: 20px;
}

@mixin sprites-menu() {
  background: url("/_moovweb_local_assets_/images/sprites.png") no-repeat 0px -188px;
  width: 22px;
  height: 20px;
}

@mixin sprites-moovweb() {
  background: url("/_moovweb_local_assets_/images/sprites.png") no-repeat 0px -209px;
  width: 160px;
  height: 22px;
}

@mixin sprites-pin() {
  background: url("/_moovweb_local_assets_/images/sprites.png") no-repeat 0px -116.5px;
  @include background-size(80px 161.5px);
  width: 9px;
  height: 17px;
}

@mixin sprites-search() {
  background: url("/_moovweb_local_assets_/images/sprites.png") no-repeat 0px -269px;
  width: 22px;
  height: 22px;
}

@mixin sprites-search() {
  background: url("/_moovweb_local_assets_/images/sprites.png") no-repeat 0px -146.5px;
  @include background-size(80px 161.5px);
  width: 16px;
  height: 15px;
}

.sprites-blackArrowRight {
  background: url("/_moovweb_local_assets_/images/sprites.png") no-repeat 0px 0px;
  width: 36px;
  height: 36px;
}

.sprites-blackMinus {
  background: url("/_moovweb_local_assets_/images/sprites.png") no-repeat 0px -37px;
  width: 36px;
  height: 36px;
}

.sprites-blackPlus {
  background: url("/_moovweb_local_assets_/images/sprites.png") no-repeat 0px -74px;
  width: 36px;
  height: 36px;
}

.sprites-call {
  background: url("/_moovweb_local_assets_/images/sprites.png") no-repeat 0px -56px;
  @include background-size(80px 161.5px);
  width: 15px;
  height: 16px;
}

.sprites-footerplus {
  background: url("/_moovweb_local_assets_/images/sprites.png") no-repeat 0px -73px;
  @include background-size(80px 161.5px);
  width: 20px;
  height: 20px;
}

.sprites-menu {
  background: url("/_moovweb_local_assets_/images/sprites.png") no-repeat 0px -188px;
  width: 22px;
  height: 20px;
}

.sprites-moovweb {
  background: url("/_moovweb_local_assets_/images/sprites.png") no-repeat 0px -209px;
  width: 160px;
  height: 22px;
}

.sprites-pin {
  background: url("/_moovweb_local_assets_/images/sprites.png") no-repeat 0px -116.5px;
  @include background-size(80px 161.5px);
  width: 9px;
  height: 17px;
}

.sprites-search {
  background: url("/_moovweb_local_assets_/images/sprites.png") no-repeat 0px -269px;
  width: 22px;
  height: 22px;
}

.sprites-search {
  background: url("/_moovweb_local_assets_/images/sprites.png") no-repeat 0px -146.5px;
  @include background-size(80px 161.5px);
  width: 16px;
  height: 15px;
}
