// VARIABLES
// -----------------------------

// Vertical Rhythm
// ---------------
$base-font-size: 13px;
$base-line-height: 24px;
@include establish-baseline();

// Global values for color schemes and basic styles
// for Moovweb project

// Color Scheme
// ------------
// Greens
$green1:                  #00c109;
$green2:                  #78c158;
$green3:                  #057400;
$green4:                  #057a01;

// Blues
$blue1:                   #3500ED;
$blue2:                   #17338F;
$blue3:                   #3ca3e0;

// White
$white:                   #FFFFFF;

// Black
$black:                   #000000;

// Grays
$gray1:                   #EEEEEE;
$gray2:                   #F2F3F5;
$gray3:                   #c8c8c8;
$gray4:                   #aaa;
$gray5:                   #2C2C2C;
$gray6:                   #CCC;
$gray7:                   #666;

// Oranges
$orange1:                 #f36721;

// Typography
// ----------
$font-family:             "Helvetica Neue", Helvetica, Verdana;
$base-font-size:          13px;
$line-height:             24px;
$text-color:              $gray5;
$body-background-color:   $white;
$link-color:              $blue1;

// Header Sizes
// ------------
$h1-size:                 $base-font-size + 9px;
$h2-size:                 $base-font-size + 6px;
$h3-size:                 $base-font-size + 3px;

// Borders
// -------
$border-green2:           1px solid $green2;
$border-green2-shaded:    1px solid shade($green2, 20%);
$border-gray3:            1px solid $gray3;

// Gradients
// ---------
$grad-green1:             linear-gradient($green1 0, $green4 100%);
$grad-green2:             linear-gradient(lighten($green2, 40%) 0, $green2 100%);
$grad-gray2:              linear-gradient(lighten($gray2, 40%) 0, $gray2 100%);

// Component Sizing
// ----------------
$padding:                 10px;
$margin:                  10px;
$border-radius:           5px;
$btn-width:               100px;
$spacing:                 10px;

// Text Shadows
// ------------
$text-shadow-green2:      2px 1px 1px $green2;
$text-shadow-gray3:       2px 1px 2px $gray3;
$text-shadow-black1:      2px 1px 2px $black;
$text-shadow-white:       0 1px $white;

// Box Shadows
// -----------
$box-shadow:              0 1px 3px rgba(0,0,0,0.9), 0 -1px 2px rgba(250,250,250,0.8);
$box-shadow-inset:        inset 0 1px 0 rgba(255,255,255,0.75), inset 0 -1px 1px rgba(255,255,255,.3);



