#footerbreadcrumb {
  font-size: 15px;
  margin: 0;
  padding: 10px 20px;
  border-top: 1px solid #e1e1e1;
  span {
    text-transform: capitalize;
  }
}

.mw-footer {
  &#footerlinks {
    width: 100% !important;
    padding: 0;
  }
  a {
    text-transform: capitalize;
  }
  #explore {
    padding: 12px 0;
    text-transform: capitalize;
    #exploreheader {
      pointer-events: none;
    }
  }
  .cols-0 {
    div {
      display: none;
    }
  }
  .cols-1 {
    >div {
      width: 98% !important;
    }
  }
  .cols-2 {
    >div {
      width: 48% !important;
    }
  }
  .cols-3 {
    >div {
      width: 31% !important;
    }
  }
  .cols-4 {
    >div {
      width: 23% !important;
    }
  }
  .cols-5 {
    >div {
      width: 19% !important;
    }
  }
  .cols-6 {
    >div {
      width: 15% !important;
    }
  }
}
