.mw-header {
  #logo_area {
    padding: 0;
    height: 80px;
    a {
      text-decoration: none;
      [class ^= 'sprites-'] {
        margin: 0 5px -3px 0;
      }
      color: #fff;
      font-family: "Arial";
      font-size: 13px;
      font-weight: bold;
      text-shadow: 0 -1px 0 rgba(0,0,0,.45);
      display: inline-block;
      margin-left: 10px;
    }
    .mw-logo {
      float: left;
      padding: 10px 0 0 10px;
    }
    .mw-contactus {
      padding: 11px;
    }
    .sprites-search {
      position: relative;
      top: 4px;
      right: -25px;
      z-index: 500;
      margin-left: 0px;
    }
    form {
      position: relative;
      top: -2px;
      display: inline-block;
      input {
        height: 40px;
        padding: 11px 0 11px 30px;
        font-size: 15px;
        border: 1px solid rgba(3,3,3,.4);
        @include border-radius(3px);
        background-color: #fff;
        @include box-shadow(0 2px 0 rgba(255,255,255,.2), inset 0 1px 2px rgba(0,0,0,.25));
      }
    }
  }
  #nav_area {
    .child_links {
      padding: 0;
    }
  }
  #parent_nav {
    background: none;
    .page_indicator_highlight > a {
      background: transparent !important;
      color: #16265B !important;
    }
    li.parent_last_link {
     padding-right: 10px !important;
    }
    .home_nav {
      padding-bottom: 5px !important;
      border-bottom: 2px solid #7375D1;
    }
  }
  #online_banking_panel_bottom {
    background: #22249a;
  }
  #child_nav {
    text-transform: capitalize;
    //IMPORTANT BLOCKING BACKGROUND
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #818181), color-stop(2%, #e1e1e1), color-stop(100%, white)) !important;
    background-image: -webkit-linear-gradient(bottom, #818181 0%, #e1e1e1 2%, white 100%) !important;
    background-image: -moz-linear-gradient(bottom, #818181 0%, #e1e1e1 2%, white 100%) !important;
    background-image: -ms-linear-gradient(bottom, #818181 0%, #e1e1e1 2%, white 100%) !important;
    background-image: -o-linear-gradient(bottom, #818181 0%, #e1e1e1 2%, white 100%) !important;
    background-image: linear-gradient(bottom, #818181 0%, #e1e1e1 2%, white 100%) !important;
    //END FIX
    ul {
      margin-top: 0px;
      li {
        padding: 0;
        text-align:center;
        a {
          padding: 0;
          text-decoration: none;
          background: transparent !important;
          color: #3739bd !important;
          font-family: "Arial";
          font-size: 12px;
          font-weight: bold;
          text-shadow: 0 1px 0 rgba(255,255,255,.5);
        }
        @include box-shadow(0 1px 0 rgba(0,0,0,.25));
        @include background-image(linear-gradient(bottom, #818181 0%, #e1e1e1 2%, #fff 100%));
        border-left: 1px solid #fff;
        border-right: 1px solid #e1e1e1;
      }
    }
    .mw-current {
      @include background-image(linear-gradient(bottom, #818181 0%, #d0d0d0 2%, #eee 100%));
      @include box-shadow(0px 2px 5px 0 rgba(0,0,0,0.5) inset);
      border: none;
      * {
        width: 100%;
        text-align: center;
      }
    }
    .child_links {
      li * {
        background: none !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
      }
    }
  }
  .mw-header-btns {
    text-align: right;
    margin: 0 20px -20px 0;
    padding-top: 19px;
  }
}
